@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  background: rgb(9, 76, 114);
  background: -webkit-radial-gradient(
    bottom,
    ellipse cover,
    rgb(9, 76, 114) 0%,
    rgb(1, 41, 63) 100%
  );
  background: -webkit-radial-gradient(
    ellipse at bottom,
    rgb(9, 76, 114) 0%,
    rgb(1, 41, 63) 100%
  );
  background: -webkit-radial-gradient(
    bottom,
    ellipse,
    rgb(9, 76, 114) 0%,
    rgb(1, 41, 63) 100%
  );
  background: radial-gradient(
    ellipse at bottom,
    rgb(9, 76, 114) 0%,
    rgb(1, 41, 63) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094c72', endColorstr='#01293f',GradientType=1 );
}

#root {
  height: 100%;
}

@mixin object($width, $height, $bg) {
  width: $width;
  height: $height;
  background: $bg;
}

@mixin transPos($top, $right, $bottom, $left, $transX, $transY) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  transform: translate($transX, $transY);
}

.card {
  @include object(892px, auto, null);
  @include transPos(50%, null, null, 50%, -50%, -50%);
  display: flex;
  align-items: center;

  .bg-sw {
    @include object(480px, 553px, #cc3843);
    border-radius: 23px;
    display: flex;
    align-items: center;

    .wordmark {
      opacity: 0.2;
      transform: rotate(-90deg) scale(1.2);
      margin-left: -90px;
    }
  }
  .planet-info {
    @include object(654px, 479px, #0c1f2c);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10%;
    transform: translateX(50%);
    border-radius: 23px;

    .helmet {
      @include transPos(50%, null, null, null, -50%, -50%);
      left: -7%;
    }

    .description {
      color: #fff;
      max-width: 390px;
      word-break: break-word;

      .name {
        font-weight: 800;
        line-height: 46px;
        font-size: 40px;
        margin-bottom: 40px;
        text-transform: uppercase;
      }

      .info {
        margin-bottom: 40px;
        font-size: 20px;

        dt,
        dd {
          display: inline;
        }

        dt {
          margin-right: 10px;
        }

        dd {
          text-transform: capitalize;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
        }

        &.text-blur {
          dd,
          span {
            text-shadow: 0 0 15px white;
            color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .card {
    transform: rotate(90deg) scale(0.7) translate(calc(50% - 25vh), 50%);
    position: static;
  }
}

@function box-shadow($stars) {
  $bxshadow: ();
  @for $i from 1 to $stars {
    $bxshadow: append(
      $bxshadow,
      (random(2000) + 0px) (random(2000) + 0px) #fff,
      comma
    );
  }
  @return unquote($bxshadow);
}

$bxshadow-large: box-shadow(300);

.stars.large {
  height: 3px;
  width: 3px;
  background: transparent;
  box-shadow: $bxshadow-large;
  animation: blink-large 7s infinite;
}

@keyframes blink-large {
  0% {
    box-shadow: $bxshadow-large;
  }
  70% {
    $colors: "#fff", "transparent";
    $stars: $bxshadow-large;
    @for $i from 1 to length($stars) {
      $star: set-nth(
        nth($stars, $i),
        3,
        unquote(nth($colors, random(length($colors))))
      );
      $stars: set-nth($stars, $i, $star);
    }
    box-shadow: $stars;
  }
  100% {
    box-shadow: $bxshadow-large;
  }
}
